@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply p-5;
  }

  h1 {
    @apply text-3xl font-bold tracking-wider;
  }

  main {
    min-height: 80vh;
  }
}

@layer components {
  .app-container {
    @apply p-5 mt-5;
  }
}
