@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

label {
  @apply font-semibold;
}

@layer base {
  h1 {
    @apply text-3xl font-bold tracking-widest;
  }

  h2 {
    @apply text-2xl font-semibold tracking-wider;
  }

  h3 {
    @apply text-xl font-semibold tracking-wide;
  }

  main {
    min-height: 87vh;
  }
}

@layer components {
  .app-container {
    @apply ml-20 mt-5;
  }

  .innner-app__nav .active {
    @apply bg-info p-2 text-white;
    border-bottom: 1rem solid inherit;
    border-radius: 12px;
  }
}
