.homepage {
  position: relative;
  height: 97vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage::before {
  content: "";
  background-image: url("../../imgs/homepage.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

.homepage__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
